@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    
}

a {
    color: #000000;
    text-decoration: none;
}
a:hover {
  color: #868686;
  text-decoration:underline;
}
.opciones {
    display: flex;
}

section {
    width: 200px;
    align-items: center;
    padding: 1px;
    font-size: 16px;
    margin: -50px 600px;
}

.login {
    margin-left: 850px;
    margin-right: 100;
}

main {
    border: 0px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    outline: none;
    width: 80%;
    height: auto;
    margin: 50px auto;
}

.search-container {
    width: 50%;
    margin: 50px auto;
    position: relative;
}

.search-container input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    padding-left: 40px;
}

button.fa-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    font-size: 1.1em;
    transition: color 0.3s ease-in-out;
    color: #b3b3b3;
}

button.fa-search:hover {
    color: #000000;
}

.botones {
  width: 80%;
    margin: 100px 310px;
}

.botones button {
    border: 1px solid #fafafa;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    width: 200px;
    margin-left: 2%;
    color: #2e2e2e;
}

.botones button:hover {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  width: 200px;
  margin-left: 2%;
  color: #2e2e2e;
}

footer {
  width: 98%;
  background-color: #dfdfdf;
  padding: 20px;
  font-size: 15px;
  color: #2e2e2e;
  border: none; 
  margin: auto -10px;
  text-align: center;
}


.bounce {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font: normal bold 6rem "Product Sans", sans-serif;
    white-space: nowrap;
}

.letter {
    font: normal bold 6rem "Product Sans", sans-serif;
}

.letter:nth-child(1) {
    color: #4285f4;
}

.letter:nth-child(2) {
    color: #ea4335;
}

.letter:nth-child(3) {
    color: #fbbc05;
}

.letter:nth-child(4) {
    color: #4285f4;
}

.letter:nth-child(5) {
    color: #34a853;
}

.letter:nth-child(6) {
  color: #ea4335;
}
