body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #2e2e2e;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
    text-align:right;
}

.form-row {
    display: flex;
    gap: 10px;
    
}

.form-row .col {
    flex: 1;
}

input
{
    max-width: 700px;
}


input[type="text"], 
input[type="email"],
input[type="url"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="number"],
input[type="tel"],
select {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; 
    color: #000000;
    font-size: 14px;
    margin-top: 5px;
}

input[type="text"]::placeholder {
    color: #999;
}

input[type="color"], 
.color
{

    flex: 2;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; 
    color: #000000;
    font-size: 1px;
    margin-top: 5px;
}

.col {
flex: 1;
}

.col select {
width: 150px; /* Hacer que cada select ocupe todo el ancho de su contenedor */
}
  
 






